# Created by Viktoracri
#
# If you edit this file in any way, you will be warned or kicked off the team. 
# This file makes sure that sensitive files aren't fiddled with.

*.log
*.yml
*.jar
*.sh
*.txt
*.dat
*.lock
*.mca
*.dat_old
*.properties
/plugins/*
/logs/*
/world/stats/*
/world/advancements/*

ops.json
whitelist.json
usercache.json
banned-players.json
banned-ips.json


